*{
    margin: 0;
    padding: 0;
}
body{
 background-image: url(https://previews.123rf.com/images/ayo88/ayo881510/ayo88151000018/47709776-workspace-with-graph-computer-graph-calculator-and-stationery-over-blue-desk.jpg);
 
 background-repeat: no-repeat;
 background-size: cover;

 width: 70%;
    height: 70%;
}
.calculator{
    background-color: #5D6D7E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}
.calculator-box{
    width: 100%;
}
.button{
    width: 90px;
    height: 90px;
    font-size: 25px;
    margin: 2px;
    padding: 5px;
    border: none;
}
.red-btn{
    background-color:  #7D3C98 
    ;
}
.eq-btn{
    background-color:red;
}
.op-btn{
    background-color: #2980B9 ;
}
.textview{
    width: 360px;
    height: 60px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}
.footer{
    color: #C0392B ;
    position: absolute;
    bottom: 0;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 30px;
}